:root {
  --body-bg: #2a2a2a;
  --text-color: white;
  --color-orange: orangered;
  --color-aqua: rgba(0, 255, 255, 0.788);

  --shadow: 4px -2px 40px 9px rgba(126, 122, 122, 0.521);
}
* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.container {
  width: 80%;
  margin: auto;
  max-width: 1400px;
}

.flex {
  display: flex;
  gap: 1rem;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  display: grid;
  gap: 1rem;
}

a {
  text-decoration: none;
  color: inherit;
}

.wrapper {
  background: var(--body-bg);
  min-height: 100vh;
  overflow-x: hidden;
}

.hidden {
  display: none;
}
/* .jaro-<uniquifier> {
  font-family: "Jaro", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
} */

/* <!-- hero section--> */

.hero-section {
  /* justify-content: space-between; */
  /* flex-direction: column; */
  /* align-items: flex-end; */
  /* flex-wrap: wrap; */
  height: 90vh;
  /* position: relative; */
  padding-top: 2rem;
  margin-top: 40px;

  background: var(--body-bg);
}

.left-info-container {
  position: absolute;

  flex-direction: column;

  /* top: 10vh; */
  /* left: -5vw; */
  width: 550px;
  height: 300px;
  padding: 1rem;
  border-radius: 10px;
  color: rgba(221, 241, 241, 0.973);

  backdrop-filter: blur(3px);
  /* letter-spacing: 0.1rem; */
  border: 2px solid aquamarine;
  box-shadow: 0 0 0 0.5px aqua;
  /* overflow: hidden; */
  /* overflow-wrap: break-word; */
  /* z-index: 2; */
  /* animation: glow 2s infinite; */
}

/*********** Starting border animation  ******/
/* 
.info-container::before {
  left: -1vw;
  top: -1vh;
  content: "";
  position: absolute;
  width: 570px;
  height: 310px;
  background: linear-gradient(#00ccff, #d500f9);
  animation: rotateInborder 10s linear infinite;
  animation-delay: -10s;
  border-radius: 20px;
}
.info-container::after {
  content: "";
  position: absolute;
  background: var(--body-bg);
  border-radius: 20px;
  inset: 3px;
}
@keyframes rotateInborder {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

@keyframes glow {
  0% {
    box-shadow: 0 0 20px rgb(0, 195, 255);
  }
  50% {
    box-shadow: 0 0 40px rgba(197, 205, 240, 0.863);
  }
  100% {
    box-shadow: 0 0 20px rgb(159, 233, 255);
  }
}

/* *************** */

.ball {
  background: radial-gradient(white, aqua);
  height: 8px;
  width: 8px;
  border-radius: 50%;
  box-shadow: inset 0px 10px 50px 10px #00ffff70, 0px 0px 30px 6px whitesmoke;

  position: absolute;
  left: -5px;
  top: -5px;
  z-index: 2;
  animation: circle 18s infinite linear;
}
@keyframes circle {
  0% {
    left: -5px;
    top: -5px;
  }
  /* 5% {
    top: 350px;
    background: yellow;
  } */

  25% {
    left: 542px;
    top: -5px;
  }
  50% {
    left: 542px;
    top: 292px;
  }
  75% {
    left: -5px;
    top: 292px;
  }
  100% {
    left: -5px;
    top: -5px;
  }
}
/* ************** */

.moving-dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: var(--color-aqua);
  /* background-color: rgb(21, 233, 248); */
  position: absolute;
  top: -5px;
  box-shadow: inset 0px 10px 50px 10px #00ffff70, 0px 0px 30px 6px whitesmoke;
  transition: all 0.4s ease;
  /* box-shadow: 0 0 18px rgb(247, 237, 237); */
  /* left: 50%; */
  transform: translateX(-50%);
}

/* .animate-text {
  display: inline-block;
  white-space: nowrap;
  animation: slideIn 2s ease-in-out;
} */

.info-container h1 {
  color: white;
  letter-spacing: 0.3rem;

  display: inline-block;
  white-space: nowrap;
  animation: slideIn 2s ease-in-out;
}
.p1 {
  font-size: 1.3rem;
  font-weight: bold;
  margin: 0px 0px -20px 0px;

  display: inline-block;
  white-space: nowrap;
  animation: slideIn 1s ease-in-out;
}
.p2 {
  font-size: 1.3rem;
  font-weight: bold;
  margin: -20px 0px 10px 0px;

  display: inline-block;
  white-space: nowrap;
  animation: slideIn 3s ease-in-out;
}
/* .info-container > p {
  z-index: 2;
} */
/* Apply the animation to the auto-type span */
.auto-type {
  color: aquamarine;
  display: inline-block;
  white-space: nowrap;
  animation: slideIn 2s ease-in-out;
}
/* Keyframe animation for the text flow */
@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.social-links {
  gap: 1rem;
  font-size: 25px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: transparent;
  color: var(--color-aqua);
  margin: 10px 5px -10px 5px;
  transition: 0.5s ease;
}
.social-links a {
  padding: 5px;
  transition: all 0.5s ease;
}
.social-links a:hover {
  background: var(--color-aqua);
  color: #1f242d;
  border-radius: 30%;
  transform: scale(1.3);
  box-shadow: 0px 4px 8px goldenrod;
}
.cv {
  height: 30px;
  width: 30px;
  margin: 10px 5px -20px 5px;
}
.cv .btn {
  background: linear-gradient(rgb(125, 15, 228), green);
  color: white;
  font-size: 15px;
  /* padding: 10px 20px; */
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;

  /* transform: scale(1); */
}
.cv .btn:hover {
  transform: scale(1.3);
  box-shadow: 0 4px 8px rgb(240, 6, 38);
}

.earth {
  position: relative;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: transparent url(./assets/earth.png);
  background-size: cover;
  /* box-shadow: inset opx -20px 50px 10px #00ffff80, 0px 0px 30px 6px #00ffff70; */

  /* transform-style:  */

  /* box-shadow: inset 0px 10px 50px 10px #00ffff70, 0px 0px 30px 6px #00ffff60; */
  box-shadow: inset 0px 10px 50px 10px #00ffff70, 0px 0px 30px 6px whitesmoke;

  transform-style: preserve-3d;
  transform: rotateZ(10deg);
  animation: rotate 15s linear infinite;
}
@keyframes rotate {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 400px;
  }
}

.right-info-container {
  /* top: 10vh; */
  /* position: absolute; */
  /* flex-direction: column; */
  justify-content: flex-end;
  align-items: flex-end;

  margin-left: 20vw;
  margin-top: -8vh;
  /* margin: 10px 5px 0 20px; */
  /* padding-left: 17rem; */
  width: 800px;
  height: 500px;
  /* background: radial-gradient(green, rgb(226, 96, 96)); */
  border-radius: 40px;
  border: 1px solid var(--color-aqua);
  box-shadow: 0 4px 8px rgb(150, 129, 241);
}
.right-info {
  justify-content: space-between;
  align-items: center;
  height: 50px;
  width: 300px;
  gap: 2rem;
}
.right-info .btnHire {
  background: linear-gradient(
    rgba(14, 81, 228, 0.877),
    rgba(247, 150, 210, 0.644)
  );
  width: 80px;
  height: 40px;
  margin-bottom: 20px;
  color: var(--text-color);
  font-size: 18px;
  border-radius: 5px;

  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}
.right-info .btnHire:hover {
  transform: scale(1.4);
  box-shadow: 0 4px 8px rgb(240, 6, 38);
}

.right-info .btnChat {
  background: linear-gradient(
    rgba(14, 81, 228, 0.877),
    rgba(247, 150, 210, 0.644)
  );
  width: 70px;
  height: 40px;
  margin-bottom: 20px;
  color: var(--text-color);
  font-size: 18px;
  border-radius: 5px;

  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}
.right-info .btnChat:hover {
  transform: scale(1.4);
  box-shadow: 0 4px 8px rgb(240, 6, 38);
}

.img {
  height: 570px;
  width: 300px;
  display: flex;
  margin-left: -10px;
  /* padding-left: 20px; */

  align-items: flex-start;
}

.grid-right-info {
  height: 450px;
  width: 500px;
  /* background: yellowgreen; */
  /* display: flex;
  justify-content: center;
  align-items: center; */
  flex-direction: column;
  background-image: url("./assets/sushil.png");
  background-size: cover;
  background-repeat: no-repeat;
  /* background-position: center; */
  /* background: red; */
  margin: 10px 10px 50px 10px;
  /* object-fit: cover; */
  /* gap: 5px; */
  /* grid-template-areas: "hexa1 hexa1 hexa2"; */
}
.grid-right-info1 {
  background: transparent;
  display: grid;
  justify-content: baseline;
  align-items: center;
  flex-direction: column;
  grid-gap: 20px;
  grid-template-areas: "hexa1 hexa2";
}
.grid-right-info2 {
  /* background: yellowgreen; */
  display: grid;
  justify-content: baseline;
  align-items: center;
  flex-direction: column;
  /* gap: 5px; */
  grid-gap: 20px;
  grid-template-areas: "hexa3 hexa4 hexa5";
}
.hexa1 {
  background: rgba(69, 135, 151, 0.842);
  border: 2px solid aqua;
  opacity: 0.5;

  /* border: 2px solid rgb(221, 22, 22); */
  grid-area: hexa1;
  height: 150px;
  width: 100px;
  clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%);
}
.hire-me {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30%;
  font-size: 15px;
  /* padding-top: 40px; */
  color: #ffffff;

  text-shadow: 1px 1px aqua;
}
.icon-pointer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
}
.hexa1:hover {
  transform: scale(1.6);
  opacity: 1;
  transition: all 2s ease-in-out;

  .icon-pointer {
    transform: scale(1.5);
    transition: all 3s ease-in-out;
    /* color: green; */
    text-shadow: 0 4px 8px rgba(38, 24, 100, 0.664);
  }
}

/*hexa2 */
.hexa2 {
  background: rgba(20, 47, 54, 0.842);
  border: 2px solid aqua;

  grid-area: hexa2;
  height: 150px;
  width: 100px;
  opacity: 0.5;
  clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%);
}

.chat {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30%;
  font-size: 15px;
  /* padding-top: 40px; */
  color: #ffffff;

  text-shadow: 1px 1px aqua;
}
.icon-chat {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}
.hexa2:hover {
  transform: scale(1.6);
  opacity: 1;
  transition: all 2s ease-in-out;

  .icon-chat {
    transform: scale(1.5);
    transition: all 3s ease-in-out;
    color: green;
    text-shadow: 0 4px 8px aqua;
  }
}
.hexa3 {
  /* background: rgb(0, 102, 128); */
  background: rgba(69, 135, 151, 0.842);
  border: 2px solid aqua;

  grid-area: hexa3;
  height: 150px;
  width: 100px;
  opacity: 0.5;
  clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%);
}

.graduation {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 20%;
  font-size: 15px;
  /* padding-top: 40px; */
  color: #ffffff;

  text-shadow: 1px 1px aqua;
}
.grad {
  color: orangered;
  font-weight: bold;
}
.icon-graduation {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

.hexa3:hover {
  transform: scale(1.7);
  opacity: 1;
  transition: all 2s ease-in-out;

  .icon-graduation {
    transform: scale(1.5);
    transition: all 3s ease-in-out;
    /* color: green; */
    text-shadow: 2px 2px 8px yellow;
  }
}
.hexa4 {
  background: rgba(69, 135, 151, 0.842);
  border: 2px solid aqua;

  grid-area: hexa4;
  height: 150px;
  width: 100px;
  opacity: 0.5;
  clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%);
}

.proj {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 20%;
  font-size: 15px;
  /* padding-top: 40px; */
  color: #ffffff;

  text-shadow: 1px 1px aqua;
}
.proj-completed {
  color: orangered;
  font-weight: bold;
}
.icon-proj {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

.hexa4:hover {
  transform: scale(1.6);
  opacity: 1;
  transition: all 2s ease-in-out;

  .icon-proj {
    transform: scale(1.5);
    transition: all 3s ease-in-out;
    /* color: green; */
    text-shadow: 0 4px 8px rgba(122, 10, 122, 0.664);
  }
}
.hexa5 {
  background: rgba(69, 135, 151, 0.842);
  border: 2px solid aqua;

  grid-area: hexa5;
  height: 150px;
  width: 100px;
  opacity: 0.5;
  clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%);
}

.exp {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 20%;
  font-size: 15px;
  font-weight: bolder;
  /* padding-top: 40px; */
  /* color: #f0f0f0; */
  /* color: rgba(0, 0, 0, 0.253); */
  color: #ffffff;

  text-shadow: 1px 1px aqua;
}
.experience {
  color: orangered;
  font-weight: bold;
}
.icon-experience {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

.hexa5:hover {
  transform: scale(1.6);
  opacity: 1;
  transition: all 2s ease-in-out;

  .icon-experience {
    transform: scale(1.5);
    transition: all 3s ease-in-out;
    /* color: green; */
    text-shadow: 0 4px 8px rgba(63, 175, 104, 0.87);
  }
}
/* <!-- nav bar --> */

header {
  box-shadow: var(--shadow);
  color: var(--text-color);
  position: sticky;
  top: 0;
  background: var(--body-bg);
}

header .header {
  justify-content: space-between;

  align-items: center;

  padding: 1rem 5;
}

.logo {
  font-size: 1.3rem;
  position: relative;
}

.logo:first-child {
  font-weight: bold;
  margin-right: 1rem;

  font-family: "Jaro", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.line::before {
  content: "";
  background: var(--color-orange);
  width: 4px;
  height: 100%;
  position: absolute;
  left: 23%;
}

.navigation {
  list-style-type: none;
  font-weight: bold;
  font-size: 20px;
}
.navigation li:hover {
  color: var(--color-aqua);
  transition: all 0.3s;
}
/* <!-- banner section  --> */
/* <!-- skills section --> */
.title {
  text-align: center;
  color: #ffffff;
  margin-bottom: 3rem;
}
.title span {
  border-bottom: 3px solid var(--color-orange);
}

.skills {
  margin-top: 5rem;
}
.skills-container {
  justify-content: space-between;
  flex-wrap: wrap;
}

.skills-container > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.skills-container > div i {
  font-size: 3rem;
}
div > span {
  color: floralwhite;
  margin-top: 1rem;
  margin-bottom: 70rem;
  /* padding-top: 10rem; */
}

#hamburgerMenu {
  display: none;
  overflow-x: hidden;
}
[for="hamburgerMenu"] {
  display: none;
}
/* <!-- project section  --> */
/* <!-- about me section  --> */
/* <!-- contact section  --> */
/* <!-- footer section  --> */

/****** Media Queries *********/

/* Add this media query at the end of your CSS file */
@media (max-width: 768px) {
  [for="hamburgerMenu"] {
    cursor: pointer;
    display: block;
  }
  .menu {
    position: absolute;
    background: var(--body-bg);
    width: 250px;
    height: 100vh;
    top: 3.7rem;
    box-shadow: var(--shadow);
    left: 100vw;
    transition: all 0.5s;
  }
  .menu .navigation {
    flex-direction: column;
    font-size: 1.3rem;
  }
  .menu .navigation li {
    line-height: 2.5rem;
  }
  #hamburgerMenu:checked + .menu {
    left: calc(65vw);
  }

  .hero-section {
    flex-direction: column;
    align-items: center; /* Center the flex items if needed */
  }

  .left-info-container {
    position: static; /* Make position static to remove absolute positioning */
    width: 100%; /* Adjust width to fit the container */
    margin-bottom: 1rem; /* Add margin to separate it from the next section */
  }

  .right-info-container {
    margin-top: 5px;
    width: 500px;
    height: 100%;
    padding: 1rem;
    border-radius: 10px;
    margin-left: 1vw; /* Adjust the margin as needed */
  }
}
