:root {
  --body-bg: #2a2a2a;
  --text-color: white;
  --color-orange: orangered;
  --color-aqua: rgba(0, 255, 255, 0.788);

  --shadow: 4px -2px 40px 9px rgba(126, 122, 122, 0.521);
}
* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.container {
  width: 80%;
  margin: auto;
  max-width: 1400px;
}

.flex {
  display: flex;
  gap: 1rem;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  display: grid;
  gap: 1rem;
}

a {
  text-decoration: none;
  color: inherit;
}

.wrapper {
  background: var(--body-bg);
  min-height: 100vh;
}

.hidden {
  display: none;
}
/* .jaro-<uniquifier> {
  font-family: "Jaro", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
} */

/* <!-- hero section--> */

.hero {
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-end;

  height: 90vh;
  position: relative;
  padding-top: 1px;

  background: var(--body-bg);
}

.info-container {
  position: absolute;
  flex-direction: column;

  top: 10vh;
  left: -5vw;
  width: 550px;
  height: 300px;
  padding: 1rem;
  border-radius: 38px;
  color: rgba(221, 241, 241, 0.973);
  /* color: rgba(191, 192, 202, 0.685); */

  /* background: radial-gradient(yellow, green); */
  /* background: linear-gradient(
    rgba(12, 12, 209, 0.678),
    rgba(201, 201, 69, 0.753)
  ); */
  backdrop-filter: blur(3px);
  /* letter-spacing: 0.1rem; */
  border: 2px solid aquamarine;
  box-shadow: 0 0 0.5px aqua;
  /* animation: glow 2s infinite; */
}
@keyframes glow {
  0% {
    box-shadow: 0 0 20px rgb(0, 195, 255);
  }
  50% {
    box-shadow: 0 0 40px rgba(197, 205, 240, 0.863);
  }
  100% {
    box-shadow: 0 0 20px rgb(159, 233, 255);
  }
}

/* *************** */

.ball {
  background: radial-gradient(white, aqua);
  height: 8px;
  width: 8px;
  border-radius: 50%;
  box-shadow: inset 0px 10px 50px 10px #00ffff70, 0px 0px 30px 6px whitesmoke;

  position: absolute;
  left: -5px;
  top: -5px;

  animation: circle 18s infinite linear;
}
@keyframes circle {
  0% {
    left: -5px;
    top: -5px;
  }
  /* 5% {
    top: 350px;
    background: yellow;
  } */

  25% {
    left: 542px;
    top: -5px;
  }
  50% {
    left: 542px;
    top: 292px;
  }
  75% {
    left: -5px;
    top: 292px;
  }
  100% {
    left: -5px;
    top: -5px;
  }
}
/* ************** */

.moving-dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: var(--color-aqua);
  /* background-color: rgb(21, 233, 248); */
  position: absolute;
  top: -5px;
  box-shadow: inset 0px 10px 50px 10px #00ffff70, 0px 0px 30px 6px whitesmoke;
  transition: all 0.4s ease;
  /* box-shadow: 0 0 18px rgb(247, 237, 237); */
  /* left: 50%; */
  transform: translateX(-50%);
}

/* .animate-text {
  display: inline-block;
  white-space: nowrap;
  animation: slideIn 2s ease-in-out;
} */

.info-container h1 {
  color: white;
  letter-spacing: 0.3rem;

  display: inline-block;
  white-space: nowrap;
  animation: slideIn 2s ease-in-out;
}
.p1 {
  font-size: 1.3rem;
  font-weight: bold;
  margin: 0px 0px -20px 0px;

  display: inline-block;
  white-space: nowrap;
  animation: slideIn 1s ease-in-out;
}
.p2 {
  font-size: 1.3rem;
  font-weight: bold;
  margin: -20px 0px 10px 0px;

  display: inline-block;
  white-space: nowrap;
  animation: slideIn 3s ease-in-out;
}

/* Apply the animation to the auto-type span */
.auto-type {
  color: aquamarine;
  display: inline-block;
  white-space: nowrap;
  animation: slideIn 2s ease-in-out;
}
/* Keyframe animation for the text flow */
@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.social-links {
  gap: 1rem;
  font-size: 25px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: transparent;
  color: var(--color-aqua);
  margin: 10px 5px -10px 5px;
  transition: 0.5s ease;
}
.social-links a {
  padding: 5px;
  transition: all 0.5s ease;
}
.social-links a:hover {
  background: var(--color-aqua);
  color: #1f242d;
  border-radius: 30%;
  transform: scale(1.3);
  box-shadow: 0px 4px 8px goldenrod;
}
.cv {
  height: 30px;
  width: 30px;
  margin: 10px 5px -20px 5px;
}
.cv .btn {
  background: linear-gradient(rgb(125, 15, 228), green);
  color: white;
  font-size: 15px;
  /* padding: 10px 20px; */
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  /* transform: scale(1); */
}
.cv .btn:hover {
  transform: scale(1.3);
  box-shadow: 0 4px 8px rgb(240, 6, 38);
}

.earth {
  position: relative;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: transparent url(./assets/earth.png);
  background-size: cover;
  /* box-shadow: inset opx -20px 50px 10px #00ffff80, 0px 0px 30px 6px #00ffff70; */

  /* transform-style:  */

  /* box-shadow: inset 0px 10px 50px 10px #00ffff70, 0px 0px 30px 6px #00ffff60; */
  box-shadow: inset 0px 10px 50px 10px #00ffff70, 0px 0px 30px 6px whitesmoke;

  transform-style: preserve-3d;
  transform: rotateZ(10deg);
  animation: rotate 15s linear infinite;
}
@keyframes rotate {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 400px;
  }
}

.right-info-container {
  /* top: 10vh; */

  justify-content: space-between;
  align-items: flex-end;

  left: 100vw;
  margin: 10px 5px -20px 5px;
  padding-left: 17rem;
  width: 800px;
  height: 500px;
  /* background: radial-gradient(green, rgb(226, 96, 96)); */
  border-radius: 40px;
  border: 1px solid var(--color-aqua);
  box-shadow: 0 4px 8px rgb(150, 129, 241);
}
.right-info {
  justify-content: space-between;
  align-items: center;
  height: 50px;
  width: 300px;
  gap: 2rem;
}
.right-info .btnHire {
  background: linear-gradient(
    rgba(14, 81, 228, 0.877),
    rgba(247, 150, 210, 0.644)
  );
  width: 80px;
  height: 40px;
  margin-bottom: 20px;
  color: var(--text-color);
  font-size: 18px;
  border-radius: 5px;

  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}
.right-info .btnHire:hover {
  transform: scale(1.4);
  box-shadow: 0 4px 8px rgb(240, 6, 38);
}

.right-info .btnChat {
  background: linear-gradient(
    rgba(14, 81, 228, 0.877),
    rgba(247, 150, 210, 0.644)
  );
  width: 70px;
  height: 40px;
  margin-bottom: 20px;
  color: var(--text-color);
  font-size: 18px;
  border-radius: 5px;

  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}
.right-info .btnChat:hover {
  transform: scale(1.4);
  box-shadow: 0 4px 8px rgb(240, 6, 38);
}

.img {
  height: 570px;
  width: 300px;
  display: flex;
  margin-left: -10px;
  /* padding-left: 20px; */

  align-items: flex-start;
}

.grid-right-info {
  height: 450px;
  width: 500px;
  /* background: yellowgreen; */
  display: grid;
  justify-content: baseline;
  align-items: center;
  flex-direction: column;
  /* gap: 5px; */
  grid-template-areas:
    "hexa1 hexa1 hexa2"
    "hexa3 hexa4 hexa5";
}
.hexa1 {
  background: green;
  grid-area: hexa1;
  height: 150px;
  width: 100px;
  clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%);
}
.hexa2 {
  background: rgb(89, 20, 129);
  grid-area: hexa2;
  height: 150px;
  width: 100px;
  clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%);
}
.hexa3 {
  background: rgb(0, 102, 128);
  grid-area: hexa3;
  height: 150px;
  width: 100px;
  clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%);
}
.hexa4 {
  background: rgb(73, 194, 43);
  grid-area: hexa4;
  height: 150px;
  width: 100px;
  clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%);
}
.hexa5 {
  background: rgb(128, 0, 0);
  grid-area: hexa5;
  height: 150px;
  width: 100px;
  clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%);
}
/* <!-- nav bar --> */

header {
  box-shadow: var(--shadow);
  color: var(--text-color);
  position: sticky;
  top: 0;
  background: var(--body-bg);
}

header .header {
  justify-content: space-between;

  align-items: center;

  padding: 1rem 5;
}

.logo {
  font-size: 1.3rem;
  position: relative;
}

.logo:first-child {
  font-weight: bold;
  margin-right: 1rem;

  font-family: "Jaro", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.line::before {
  content: "";
  background: var(--color-orange);
  width: 4px;
  height: 100%;
  position: absolute;
  left: 23%;
}

.navigation {
  list-style-type: none;
  font-weight: bold;
  font-size: 20px;
}
.navigation li:hover {
  color: var(--color-aqua);
  transition: all 0.3s;
}
/* <!-- banner section  --> */
/* <!-- skills section --> */
/* <!-- project section  --> */
/* <!-- about me section  --> */
/* <!-- contact section  --> */
/* <!-- footer section  --> */
