/* Root variables */
:root {
  --body-bg: #2a2a2a;
  --text-color: white;
  --color-aqua: aqua;
  --color-orange: orangered;
  --shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* General reset and styling */
html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow-x: hidden;
  background: var(--body-bg);
  color: var(--text-color);
}

a {
  text-decoration: none;
  color: inherit;
}

/* Container */
.container {
  width: 80%;
  margin: auto;
  max-width: 1400px;
}

/* Flexbox utility classes */
.flex {
  display: flex;
  gap: 1rem;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Grid utility class */
.grid {
  display: grid;
  gap: 1rem;
}

/* Hero section */
.hero-section {
  margin-top: 40px;
  max-height: 80vh;
  padding-top: 2rem;
}

.left-container {
  width: 500px;
  height: 300px;
  flex-direction: column;
  padding: 1rem;
  border-radius: 10px;
  color: rgba(221, 241, 241, 0.973);
  backdrop-filter: blur(3px);
  border: 2px solid var(--color-aqua);
  box-shadow: 0 0 0 0.5px var(--color-aqua);
}

.ball {
  background: radial-gradient(white, aqua);
  height: 8px;
  width: 8px;
  border-radius: 50%;
  box-shadow: inset 0px 10px 50px 10px #00ffff70, 0px 0px 30px 6px whitesmoke;

  position: absolute;
  left: -5px;
  top: -5px;
  z-index: 2;
  animation: circle 18s infinite linear;
}
@keyframes circle {
  0% {
    left: -5px;
    top: -5px;
  }

  25% {
    left: 492px;
    top: -5px;
  }
  50% {
    left: 492px;
    top: 292px;
  }
  75% {
    left: -5px;
    top: 292px;
  }
  100% {
    left: -5px;
    top: -5px;
  }
}

.left-container h1 {
  color: white;
  letter-spacing: 0.3rem;

  display: inline-block;
  white-space: nowrap;
  animation: slideIn 2s ease-in-out;
}
.p1 {
  font-size: 1.3rem;
  font-weight: bold;
  margin: 0px 0px -20px 0px;

  display: inline-block;
  white-space: nowrap;
  animation: slideIn 1s ease-in-out;
}
.p2 {
  font-size: 1.3rem;
  font-weight: bold;
  margin: -20px 0px 10px 0px;

  display: inline-block;
  white-space: nowrap;
  animation: slideIn 3s ease-in-out;
}
/* .info-container > p {
  z-index: 2;
} */
/* Apply the animation to the auto-type span */
.auto-type {
  color: aquamarine;
  display: inline-block;
  white-space: nowrap;
  animation: slideIn 2s ease-in-out;
}
/* Keyframe animation for the text flow */
@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.social-links {
  gap: 1rem;
  font-size: 25px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: transparent;
  color: var(--color-aqua);
  margin: 10px 5px -10px 5px;
  transition: 0.5s ease;
}
.social-links a {
  padding: 5px;
  transition: all 0.5s ease;
}
.social-links a:hover {
  background: var(--color-aqua);
  color: #1f242d;
  border-radius: 30%;
  transform: scale(1.3);
  box-shadow: 0px 4px 8px goldenrod;
}

.cv {
  height: 30px;
  width: 30px;
  margin: -2px 5px -20px 5px;
}
.cv .btn {
  background: linear-gradient(rgb(125, 15, 228), green);
  color: white;
  font-size: 15px;
  /* padding: 10px 20px; */
  border: none;
  cursor: pointer;
  transition: all 0.4s ease;

  /* transform: scale(1); */
}
.cv .btn:hover {
  transform: scale(1.3);
  box-shadow: 0 4px 8px rgb(240, 6, 38);
}

.right-container {
  justify-content: flex-end;
  margin-left: -10vw;
  margin-top: -8vh;
  width: 800px;
  height: 500px;
  border-radius: 40px;
  border: 1px solid var(--color-aqua);
  box-shadow: 0 4px 8px rgb(150, 129, 241);
  flex-wrap: wrap;
}
.grid-right-info {
  height: 450px;
  width: 500px;
  flex-direction: column;
  background-image: url("./assets/sushil.png");
  background-size: cover;
  background-repeat: no-repeat;
  margin: 10px 10px 50px 10px;
}

.grid-right-info1 {
  background: transparent;
  display: grid;
  justify-content: baseline;
  align-items: center;
  flex-direction: column;
  grid-gap: 20px;
  grid-template-areas: "hexa1 hexa2";
}
.grid-right-info2 {
  /* background: yellowgreen; */
  display: grid;
  justify-content: baseline;
  align-items: center;
  flex-direction: column;
  /* gap: 5px; */
  grid-gap: 20px;
  grid-template-areas: "hexa3 hexa4 hexa5";
}
.hexa1 {
  background: rgba(69, 135, 151, 0.842);
  border: 2px solid aqua;
  opacity: 0.5;

  /* border: 2px solid rgb(221, 22, 22); */
  grid-area: hexa1;
  height: 150px;
  width: 100px;
  clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%);
}
.hire-me {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30%;
  font-size: 15px;
  /* padding-top: 40px; */
  color: #ffffff;

  text-shadow: 1px 1px aqua;
}
.icon-pointer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
}
.hexa1:hover {
  transform: scale(1.6);
  opacity: 1;
  transition: all 2s ease-in-out;

  .icon-pointer {
    transform: scale(1.5);
    transition: all 3s ease-in-out;
    /* color: green; */
    text-shadow: 0 4px 8px rgba(38, 24, 100, 0.664);
  }
}

/*hexa2 */
.hexa2 {
  background: rgba(20, 47, 54, 0.842);
  border: 2px solid aqua;

  grid-area: hexa2;
  height: 150px;
  width: 100px;
  opacity: 0.5;
  clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%);
}

.chat {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30%;
  font-size: 15px;
  /* padding-top: 40px; */
  color: #ffffff;

  text-shadow: 1px 1px aqua;
}
.icon-chat {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}
.hexa2:hover {
  transform: scale(1.6);
  opacity: 1;
  transition: all 2s ease-in-out;

  .icon-chat {
    transform: scale(1.5);
    transition: all 3s ease-in-out;
    color: green;
    text-shadow: 0 4px 8px aqua;
  }
}
.hexa3 {
  /* background: rgb(0, 102, 128); */
  background: rgba(69, 135, 151, 0.842);
  border: 2px solid aqua;

  grid-area: hexa3;
  height: 150px;
  width: 100px;
  opacity: 0.5;
  clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%);
}

.graduation {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 20%;
  font-size: 15px;
  /* padding-top: 40px; */
  color: #ffffff;

  text-shadow: 1px 1px aqua;
}
.grad {
  color: orangered;
  font-weight: bold;
}
.icon-graduation {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

.hexa3:hover {
  transform: scale(1.7);
  opacity: 1;
  transition: all 2s ease-in-out;

  .icon-graduation {
    transform: scale(1.5);
    transition: all 3s ease-in-out;
    /* color: green; */
    text-shadow: 2px 2px 8px yellow;
  }
}
.hexa4 {
  background: rgba(69, 135, 151, 0.842);
  border: 2px solid aqua;

  grid-area: hexa4;
  height: 150px;
  width: 100px;
  opacity: 0.5;
  clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%);
}

.proj {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 20%;
  font-size: 15px;
  /* padding-top: 40px; */
  color: #ffffff;

  text-shadow: 1px 1px aqua;
}
.proj-completed {
  color: orangered;
  font-weight: bold;
}
.icon-proj {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

.hexa4:hover {
  transform: scale(1.6);
  opacity: 1;
  transition: all 2s ease-in-out;

  .icon-proj {
    transform: scale(1.5);
    transition: all 3s ease-in-out;
    /* color: green; */
    text-shadow: 0 4px 8px rgba(122, 10, 122, 0.664);
  }
}
.hexa5 {
  background: rgba(69, 135, 151, 0.842);
  border: 2px solid aqua;

  grid-area: hexa5;
  height: 150px;
  width: 100px;
  opacity: 0.5;
  clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%);
}

.exp {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 20%;
  font-size: 15px;
  font-weight: bolder;
  /* padding-top: 40px; */
  /* color: #f0f0f0; */
  /* color: rgba(0, 0, 0, 0.253); */
  color: #ffffff;

  text-shadow: 1px 1px aqua;
}
.experience {
  color: orangered;
  font-weight: bold;
}
.icon-experience {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

.hexa5:hover {
  transform: scale(1.6);
  opacity: 1;
  transition: all 2s ease-in-out;

  .icon-experience {
    transform: scale(1.5);
    transition: all 3s ease-in-out;
    /* color: green; */
    text-shadow: 0 4px 8px rgba(63, 175, 104, 0.87);
  }
}

/* Navigation bar */
header {
  box-shadow: var(--shadow);
  color: var(--text-color);
  position: sticky;
  top: 0;
  /* z-index: 1000; */
  background: var(--body-bg);
  /* flex-wrap: wrap; */
}

header > .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.logo {
  font-size: 1.3rem;
  position: relative;
  font-weight: bold;
}

.line::before {
  content: "";
  background: var(--color-orange);
  width: 4px;
  height: 100%;
  position: absolute;
  left: 23%;
}

.navigation {
  list-style-type: none;
  font-weight: bold;
  font-size: 20px;
}

.navigation li:hover {
  color: var(--color-aqua);
  transition: all 0.3s;
}

/* <!-- skills section --> */
.title {
  text-align: center;
  color: #ffffff;
  margin-bottom: 3rem;
}
.title span {
  border-bottom: 3px solid var(--color-orange);
}

skills {
  margin-top: 5rem;
}
.skills-container {
  justify-content: space-between;
}

.skills-container > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.skills-container > div i {
  font-size: 3rem;
}
div > span {
  color: floralwhite;
  margin-top: 1rem;
  margin-bottom: 2rem;
  /* padding-top: 10rem; */
}

/* progress bar  */

.outer-progressbar {
  height: 20px;
  width: 80px;
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
    -2px -4px 8px 2px rgba(255, 255, 255, 0.7);
  /* border: 1px solid orangered;
   */
  background: floralwhite;
  border-radius: 20px;
  /* margin-bottom: 5rem; */
  position: relative;
}
.inner-progressbar {
  height: 100%;
  width: 85%;
  /* border: 1px solid orangered; */
  background: green;
  border-radius: 20px;
  box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
    inset -4px -4px 6px -1px rgba(66, 143, 245, 0.7),
    -0.5px -0.5px 0px rgb(163, 15, 106), 0.5px 0.5px 0px rgba(0, 0, 0, 0.15),
    0px 12px 10px -10px rgba(0, 0, 0, 0.05);
}
#number {
  font-weight: 600;
  color: black;
  font-size: 18px;
}

/* progress bar second type implementation  */

/* Media queries */
/* Media Queries */
@media (max-width: 1200px) {
  .container {
    width: 90%;
  }

  .left-container h1 {
    font-size: 50px;
  }
}

@media (max-width: 992px) {
  .container {
    width: 95%;
  }

  .left-container h1 {
    font-size: 45px;
  }

  .left-container .p1,
  .left-container .p2 {
    font-size: 20px;
  }

  .left-container p {
    width: 100%;
  }

  .right-container {
    width: 100%;
    margin-top: 2rem;
  }

  .grid-right-info {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 768px) {
  .container {
    width: 100%;
    padding: 0 1rem;
  }

  .header .logo,
  .header nav.menu {
    flex-direction: column;
    align-items: center;
  }

  .navigation li {
    margin: 1rem 0;
  }

  .left-container h1 {
    font-size: 40px;
  }
  .right-container {
    width: 100%;
    margin-top: 2rem;
  }
}

@media (max-width: 576px) {
  .hero-section {
    flex-direction: column;
    align-items: center;
  }

  .left-container {
    align-items: center;
    text-align: center;
  }

  .left-container h1 {
    font-size: 35px;
  }

  .left-container .p1,
  .left-container .p2 {
    font-size: 18px;
  }

  .left-container .social-links a {
    font-size: 2rem;
  }

  .right-container {
    margin-top: 2rem;
  }

  .grid-right-info {
    flex-direction: column;
  }
  .right-container {
    width: 100%;
    margin-top: 2rem;
  }
}

@media (max-width: 480px) {
  .left-container h1 {
    font-size: 30px;
  }

  .left-container .p1,
  .left-container .p2 {
    font-size: 16px;
  }

  .left-container p {
    font-size: 18px;
  }
  .right-container {
    width: 100%;
    margin-top: 2rem;
  }
}
